@font-face {
    font-family: 'ActionComic';
    src: url(./fonts/HeroesLegendHollow.ttf);
  }
  
  .video {
    @apply relative;
    height: 90vh;
  }
  
  .designVideoContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 400ms ease-in-out;
  }
  
  .designVideoContainer > video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    animation: moveMask 5s linear infinite; /* Add animation to the video */
  }
  
  .designVideoContainer::before {
    content: '';
    z-index: 2;
    opacity: 0.45;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    height: 100%;
    background: linear-gradient(#64eeee8e, #060306);
  }
  
  @keyframes moveMask {
    0% {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
    100% {
      -webkit-mask-position: 114px 0;
      mask-position: 114px 0;
    }
  }
  
  .content {
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%);
    z-index: 3; /* Place content on top of the video */
    text-align: center; /* Center-align the text */
  }
  
  .content > h1 {
    font-family: 'ActionComic';
    background: url('https://i.pinimg.com/originals/64/f9/60/64f9607347a4a28fb88724520b796a41.gif') center center repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 2.5rem;
    font-size: 12rem;
    letter-spacing: 10px;
    margin: 0;
    color: transparent;
  }
  
  .content:hover h1 {
    cursor: pointer;
    text-shadow: 0px 0px 5px rgb(148, 0, 211);
  }
  
  /* Media queries for responsive design */
  @media (max-width: 1360px) {
    .video {
      height: 90vh;
    }
  }
  
  @media (max-width: 1260px) {
    .video {
      height: 90vh;
    }
  }
  
  /* Add more media queries for other screen sizes */
  